:root{
    --brand-main-color: #009933;
    --brand-main-dark-color: #023513;
    --brand-light-color: #B3E840;
    --brand-dark-color: #000;
    --brand-dark-light: #ddd;
    --brand-white: #fff;
    --brand-gray: #eee;
}

.main-content{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

.main-content .about-content{
    padding: 50px 25px;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.about-header h2{
    text-align: center;
    font-size: 35px;
    color: var(--brand-white);
    position: relative;
}

.about-header h2::before{
    content: '';
    height: 5px;
    width: 0%;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, var(--brand-light-color), var(--brand-main-dark-color));
    animation: grow 10s linear infinite;
}

@keyframes grow{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.main-content .about-content .about-content-p p{
    /* width: 50%; */
    padding: 10px;
    border-radius: 5px;
    color: var(--brand-white);
    text-align: justify;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    
}

.first-card{
    color: var(--brand-white);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 70%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.first-card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(to left, var(--brand-light-color), var(--brand-main-dark-color));
    animation: growcard 10s linear infinite;
}

@keyframes growcard{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


.first-card:first-child{
    margin-top: 10px;
}

.first-card img{
    width: 200px;
    aspect-ratio: 2/2;
}

.first-card .frist-card-content h3, .service-card h3{
    color: var(--brand-light-color);
}

.service-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 25px;
}

.service-card{
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.service-card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.service-card i {
    font-size: 95px;
    padding: 10px;
    display: inline-block;
    background-image: linear-gradient(
        to left,
        var(--brand-light-color),
        var(--brand-white)
    );
    background-size: 200% 200%; /* enables movement */
    background-repeat: no-repeat;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: roll 10s linear infinite;
}

@keyframes roll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}


.service-card p{
    color: var(--brand-white);
    margin-bottom: 10px;
}

.service-card .btn{
    padding: 5px;
}

@media screen and (max-width: 796px) {
    .first-card{
        flex-direction: column;
        text-align: justify;
        width: 100%;
    }

    .first-card .frist-card-content h3{
        text-align: center;
    }

    .service-content{
        flex-direction: column;
    }
}